@page "/"
@namespace BlazorApp2.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Blazor Azure Web API</title>
    <base href="~/" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
        :root {
            /*   color variables */
            --clr-primary: #6aeeb5;
            --clr-primary-hover: #29e6a7;
            --clr-primary-dark: #039d69;
            --clr-gray100: #f0f7f8;
            --clr-gray200: #cfd8dc;
            /*   border radius */
            --radius: 0.2rem;
        }

        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        /*body {
            font-family: Montserrat, sans-serif;
            background: var(--clr-gray100);
        }*/

        .nav-list {
            /*background: white;*/
            box-shadow: 0px 0px 10px var(--clr-gray200);
            padding: 0.75rem 0;
            border-radius: var(--radius);
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .nav-item {
            list-style: none;
            margin-right: 1rem;
        }

            .nav-item a {
                text-decoration: none;
                /*color: black;*/
                transition: all 200ms ease-in;
            }

        /*.nav-item a:hover {
            color: var(--clr-primary-dark);
        }*/

        /*.nav-item:first-child {
            margin-right: auto;
            margin-left: 1rem;
        }*/

        /*.btn-primary {
            font-family: Montserrat, sans-serif;
            font-size: 1rem;
            background: var(--clr-primary);
            border: none;
            outline: none;
            border-radius: var(--radius);
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: all 200ms ease-in;
        }

        .btn-primary:hover {
            background: var(--clr-primary-hover);
        }*/

    </style>
</head>

<body class="m-2 bg-light">
    <main>
        <div class="container-fluid">
            <component type="typeof(App)" render-mode="Server" />
        </div>
    </main>

    <script>
        function SetContent(value) {
            document.getElementById("code").value = value;
        }

    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>