@page "/branches/{Id}"

@using ClassLibrary.Interfaces;
@using Entities;
@using BlazorApp2.Data;

@inject NavigationManager NavigationManager
@inject IAzureRepositoriesService AzureRepositoriesService

<h1>Branches</h1>

<EditForm Model="@_repo" OnSubmit="@FormSubmitted">
    <fieldset>
        <legend><strong>Select a branch</strong></legend>

        <div class="form-group">
            <label for="r" class="form-label"><strong>Branches:</strong></label>
            <InputSelect id="r" @bind-Value="_repo.Id" class="form-control form-select form-select-sm mb-3" size="10">
                @if (Repository != null)
                {
                    @foreach (var item in Repository.value)
                    {
                        <option value="@item.name">@item.name</option>
                    }
                }
            </InputSelect>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Select</button>
        </div>
    </fieldset>
</EditForm>

@code {

    [Parameter]
    public string Id { get; set; }

    public RepositoryBranch Repository;
    readonly Repo _repo = new();
    int _count = 0;

    protected override async Task OnInitializedAsync()
    {
        Repository = await AzureRepositoriesService.GetAllRepositoryBranches(Id);
        _count = Repository.value.Count();
    }

    void FormSubmitted()
    {
        NavigationManager.NavigateTo($"/files/{_repo.Id.Replace("/", "!")}", true);
    }
}