@page "/view/{Id}"

@using ClassLibrary.Interfaces;

@inject NavigationManager NavigationManager
@inject IAzureRepositoriesService AzureRepositoriesService
@inject IJSRuntime JsRuntime

<h1>File Viewer</h1>

<form>
    <textarea rows="@Lines" cols="125" id="code">             
    </textarea>
</form>

@code {

    [Parameter]
    public string Id { get; set; }

    public string Content = "";
    public int Lines = 0;

    protected override async Task OnInitializedAsync()
    {
        Content = await AzureRepositoriesService.GetFile(Id);
        Lines = Content.Split('\n').Length;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("SetContent", Content);
    }
}