@page "/"

@using ClassLibrary.Interfaces;
@using Entities;
@using BlazorApp2.Data;

@inject NavigationManager NavigationManager
@inject IAzureRepositoriesService AzureRepositoriesService

<h1 class="mt-md-3">Repositories</h1>

<EditForm Model="@_repo" OnSubmit="@FormSubmitted">
    <fieldset>
        <legend><strong>Select a repository</strong></legend>

        <div class="form-group">
            <label for="r" class="form-label"><strong>Repository:</strong></label>
            <InputSelect id="r" @bind-Value="_repo.Id" size="5" class="form-control form-select form-select-sm mb-3">
                @if (Repository != null)
                {
                    @foreach (var item in Repository.value)
                    {
                        <option value="@item.id">@item.name</option>
                    }
                }
            </InputSelect>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Select</button>
        </div>
    </fieldset>
</EditForm>

@code {

    public Repository Repository;
    readonly Repo _repo = new Repo();

    protected override async Task OnInitializedAsync()
    {
        Repository = await AzureRepositoriesService.GetAllRepositories();

        _repo.Id = Repository.value[0].id;
    }

    void FormSubmitted()
    {
        NavigationManager.NavigateTo($"/branches/{_repo.Id}", true);
    }
}

@*https://github.com/dotnet/aspnetcore/issues/14977*@